<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Un video mas mi gente</h1>
    <p>para peldel tu tiempo</p>
  </body>
</html>
