@import url('vars.css');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

html{
  margin:0;
  padding: 0;
}


section#cta{
  outline: solid 1px var(--font-color-cta);
  min-height: 50vh;
  background-image: url(../images/fondo-cta.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  color:white;

  
h1{
  color:white;
  text-align: center;
  font-size: clamp(2rem,var(--font-size-h1-cta),4rem);
  font-family: "Lilita One", "sans-serif";
}
p{
  font-size: calc(clamp(2rem,var(--font-size-h1-cta),4rem) / 2);
  text-align: center;
  font-family: "Lilita One", "sans-serif";
}


.inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:3rem;
  z-index: 1;
  max-width: 900px;
}
.backdrop{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: green;
  opacity: 15%;
}
}